body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #2BC3FF; 
    height: 100vh;
    width: 100vw;   
    display: flex;
    align-items: flex-end;
    justify-content: center;       
}
.shapes-container{
    
    display: flex;
    align-items: center;
    justify-content: center;    
}
.lg-rect{
    background-color: #000;
    width: 30vw;
    height: 35vw;
    position: relative;
    border-top-right-radius: 9vw;
    border-top-left-radius: 9vw;
}
.sm-rect{
    position: absolute;
    top:20%;
    left:calc(50% - 1.5vw);    
    background-color: #fff;
    width: 3vw;
    height: 3vw;
}
.tri{
    border-top: 7vw solid transparent;
    border-bottom: 7vw solid transparent;
    border-left: 7vw solid #ffd946;
}